
#box{
	display:none;
    width: 23%;
    height: 7%;
    top: 75%;
	    border-radius: 3px;
    margin: auto;
    align-content: center;
    /* margin-top: auto; */
    /* display: block; */
    position: relative;
   background-color: #505156;;

}
p#scrl {
    background: #262829;
    color: #ffffff;
    width: 230px;
    height: auto;
    padding: 10px;
    vertical-align: middle;
    position: static;
}
.roller {
	font-family: monospace;
text-align: center;
color: white;
width: 20%;
margin: auto;
vertical-align: middle;
font-size: 14px;
top: 80%;
position: relative;
font-weight: lighter;
}
div#ia {
    display: inline;
}
h1, h2 {
	font-family: fantasy;
font-weight: 100;
font-size: 60px;
text-transform: uppercase;
position: absolute;
vertical-align: middle;
/* margin: auto; */
top: 6%;
left: 23.5%;
color: white;
/* left: 12%; */
justify-content: center;
}
img {
    position: fixed;
    height: 250px;
    margin: auto;
    top: 31%;
    left: 38%;
}
.text {
       color: #5b5650;
			 text-transform: uppercase;
			 font-weight: bold;
    position: relative;
	    font-family: monospace;
		    font-size: 21px;
    text-align: center;
    vertical-align: middle;
    /* font-size: 20px; */
    margin: auto;
    /* align-items: center; */
    top: 25%;
    /* left: 14% !important; */
}
.top {
         color: white;
    position: relative;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    /* font-size: 20px; */
    /* margin: auto; */
    bottom: -20px;
    /* align-items: center; */
    top: 15%;
    /* left: 14% !important; */
}
body {

    background-color: #1b3740;
}
#toast {
    position: fixed;
    top: 3%;
    width: 6%;
    border-radius: 3px;
  background: #73adaa;
    height: 5%;
    right: 3%;
}
p#status {
    vertical-align: middle;
    margin: auto;
    /* background-color: white; */
}
